{% assign author = include.author %}
{% assign author = site.data.authors[author] | default: author %}

<li class="usa-card usa-card--flag card-img-sq width-full">
    <div class="usa-card__container">
      <div class="usa-card__header">
        <h2 class="usa-card__heading no_toc">{{ author.name }}</h2>
        {% if author.pronouns %}<span class="font-body-2xs"><i>{{ author.pronouns }}</i></span>{% endif %}
      </div>
      {% if author.avatar %}
        {%- if author.avatar contains "://" -%}
            {%- assign author_src = author.avatar -%}
        {%- else -%}
            {%- assign author_src = author.avatar | relative_url -%}
        {%- endif -%}
      <div class="usa-card__media usa-card__media--inset">
        <div class="usa-card__img">
          <img
            class="circle-card-lg"
            src="{{ author_src }}"
            alt="{{ author.name }}"
          />
        </div>
      </div>
      {% endif %}
      <div class="usa-card__body">
        {% if author.bio %}
        <p>{{ author.bio }}</p>
        {% endif %}
      </div>
      <div class="usa-card__footer mobile-lg:grid-row">
        {% if author.contact %}
        <div class="grid-col">
            {% for _link in author.contact %}
            {% capture svgname %}{% if _link[0]=="website" %}account_circle{% elsif _link[0]=="email" %}mail{% else %}{{ _link[0] }}{% endif %}{% endcapture %}
            <a class="usa-social-link ext-nested" style="padding-right: .25rem;" href="{{ _link[1] }}"
            ><img
              class="usa-social-link__icon"
              src="/assets/uswds/img/usa-icons/{{ svgname | default: 'generic' }}.svg"
              alt="{{ _link[0] }}"
          /></a>
            {% endfor %}
          </div>
        {% endif %}
        <div class="grid-col mobile-lg:text-right">
          <button class="usa-button usa-button--unstyled filter-nav" type="button" att="author" cont="{{ author.name }}">
            Workbooks by {{ author.name }}
          </button>
        </div>
      </div>
    </div>
  </li>