{% assign card = include.card %}
{% if cardmedia == 1 or card.feature-img-src %}
{% assign imgsrc = card.feature-img-src | default: '/assets/img/programming_intro_section_gallery.png' %}
{% assign imgalt = card.feature-img-alt | default: '' %}
{% else %}
{% assign imgsrc = 0 %}
{% endif %}
{% assign classes = include.classes | default: classes %}

<li class="usa-card {{ classes }} fc {% if card.url %} featured_posts{% endif %}" datameta="{{ card.title }}">
    {% if card.url %}
    <a href="{% include url.html link=card %}">
        {% endif %}
      <div class="usa-card__container">
      <div class="usa-card__header">
        <h3 class="usa-card__heading no_toc rm-a">{{ card.title }}</h3>
      </div>
      {% unless imgsrc == 0 %}
      <div class="usa-card__media">
        <div class="usa-card__img padding-05    feature_img">
          <img class="maxh-card" src="{{ imgsrc | relative_url }}" alt="{{ imgalt }}" />
        </div>
      </div>
      {% endunless %}
      <div class="usa-card__body">
        <p>
          {{ card.description }}
        </p>
      </div>
    </div>
    {% if card.url %}
    </a>
    {% endif %}
  </li>