{% assign option = include.option %}
{% assign gloss = include.gloss | default: site.data.glossary['glossary'] %}
<li class="glossary usa-collection__item width-full fullwidth-i fc" datameta="{{  option.term  }}" {% if sort_list %}
    wb="{% for wb in pwb %}{{ wb }} {% endfor %} all"
    tagged="{% for tag in ptags %}{{ tag }} {% endfor %}all" type="{% for types in ptypes %}{{ types }} {% endfor %}all"
    difficulty="{% for lvl in pdifficulties %}{{ lvl }} {% endfor %}all" {% endif %}>

    <div class="padding-x-2 usa-collection__body">
        <h3 class="usa-collection__heading no_toc rm-a">
            {{ option.term }}
        </h3>
        {% if option.alt %}<span>({{ option.alt }})</span>{% endif %}
        {% unless no_summary %}
        {% if option.definition %}
        <p class="usa-collection__description">
            {{ option.definition }}
        </p>
        {% elsif option.definitions %}
        <p class="usa-collection__description">
        <ul>
        {% for definition in option.definitions %}
        <li>
            {% if definition.context %}<b>{{ definition.context }} - </b>{% endif %}{% if definition.alt %}({{ definition.alt}}) - {% endif %}
            {{ definition.definition }}
        </li>
        {% endfor %}
        </ul>
        </p>
        {% endif %}
        {% endunless %}

        {% if option.ul %}
        <ul class="usa-collection__meta">
            {% if option.ul_exp %}<li class="usa-collection__meta-item"><b>{{ option.ul_exp }}</b><ul class="">{% endif %}
                {% for _li in option.ul %}
                <li class="{% if option.ul_exp %}line-height-sans-4 {% else %}usa-collection__meta-item{% endif %}">{% if _li.context %}<b>{{ _li.context }} - </b>{% endif %}{{ _li.li }}
                    {% if _li.alt %} [see <a href="#{{ _li.alt | slugify }}">{{ _li.alt}}</a>]{% endif %}
                    {% if _li.related %}
                    {% assign retags = _li.related | split: ', ' %}
                    <ul>
                        <li>
                            {% for _tagged in retags %}
                            <a href="#{{ _tagged | slugify }}">{{ _tagged }}</a>{% unless forloop.last %} | {% endunless %}
                            {% endfor %}
                        </li>
                    </ul>
                    {% endif %}
                </li>
                {% endfor %}

            {% if option.ul_exp %}</ul></li>{% endif %}

        </ul>
        {% endif %}

        {% assign definedoption = 0 %}
        {% if include.sitetags and include.sitetags contains option.term %}
        {% assign definedoption = 1 %}
        {% endif %}
        {% if option.wiki or option.tutorial or definedoption==1 %}
        <ul class="usa-collection__meta">
            {% if option.wiki %}
            <li class="usa-collection__meta-item">
                <a href="{{ option.wiki }}">Wikipedia</a>
            </li>
            {% endif %}
            {% if option.tutorial %}
            <li class="usa-collection__meta-item">
                <a href="{{ option.tutorial.url }}" class="arrow sm-txt">{{ option.tutorial.title | default: "Related Tutorial"}}</a>
            </li>
            {% endif %}
            {% if definedoption==1 %}
            <li class="usa-collection__meta-item">
                {% include layout/filter-related.html search=option.term attribute=option.att atext=' workbooks' class='sm-txt' %}
            </li>
            {% endif %}
        </ul>
        {% endif %}

        {% unless include.no-related %}
        {% if option.related %}
        <ul class="usa-collection__meta padding-top-1" aria-label="Related Terms">
            {% assign relateds = option.related | split: ', ' %}
            {% for _related in relateds %}

            <li class="usa-collection__meta-item usa-tag">{{ _related }}</li>

            {% comment %}<!-- links between related terms, but is buggy with the search filter-->
            {% assign glossed = gloss | find_exp:"item", "item.term == _related" %}
            {% if glossed.size > 0 %}
            <a class="gloss" href="#{{ _related | slugify }}" ><li class="usa-collection__meta-item usa-tag listed">{{ _related }}</li></a>
            {% else %}
            <li class="usa-collection__meta-item usa-tag">{{ _related }}</li>
            {% endif %}
            {% endcomment %}

            {% endfor %}
            {% if option.cat %}
                {% assign _cats = option.cat | split: ', ' %}
                {% for _cat in _cats %}
                <a class="gloss_wb" href="{{ base_url }}/{{ _cat | slugify }}" ><li class="usa-collection__meta-item usa-tag listed">{{ _cat }}</li></a>
                {% endfor %}
            {% endif %}
        </ul>
        {% endif %}
        {% endunless %}
    </div>

</li>