---
title: Template index
tags: Template #inherited by child files

description: Short and informative description of what this folder contains

index: 1 # nested folder level for index files only

# type: introduction # uncomment if this file provides required context understanding of all child contents

---



General description of folder contents unless this is a detailed introduction.

Can include {% raw %}{% include overview/terms %}{% endraw %} or {% raw %}{% include overview/packages %}{% endraw %} if desired.