title: "SCINet | USDA Scientific Computing Initiative"
description: SCINet is a USDA initiative to provide agricultural scientists access to high performance computing, networking and training
short_name: "SCINet"
language: "en"
lang_direction: "ltr"
timezone: America/New_York
icon: "https://scinet.usda.gov/assets/img/site/favicons/favicon.png"

# GitHub information
# This is used for adding an edit this page link to the footer
github:
  organization: USDA-SCINet
  repository: scinet-site
  default_branch: main


baseurl: ""
url: "https://scinet.usda.gov"

# Configure a separator for post excerpts
excerpt_separator: <!--excerpt-->

# Configuration for setting the site width to 100%
# To enable, uncomment the following line
# site_width: wide
site_width: 100%


# Configuration for Google Analytics, add your UA code here:
# google_analytics_ua: UA-????????-??

# Configuration for DAP, add your agency ID here:
dap_agency: USDA
dap_subagency: ARS

# Uncomment to enable AnchorJS functionality on docs layout.
# See https://github.com/bryanbraun/anchorjs for more information.
anchor_js_targets: [h1, h2, h3]

# Enables Private Eye functionality.
# See https://github.com/18F/private-eye for more information.
# Private Eye configuration is in assets/js/main.js
# private_eye: true

# To enable search, uncomment the search section
# You will need to setup a search account with search.gov
# https://search.usa.gov/signup
# Your search_site_handle value is from the search.gov settings page.

# Your search_site_handle value is from the search.gov settings page.
search_site_handle: scinet-usda

# touchpoints_form_id:

# Configuration for projects and team collections
# See https://jekyllrb.com/docs/collections/ for more information about collections.
collections_dir: workbooks
collections:
  computing-skills:
    output: true
    permalink: /:collection/:path
  data-science:
    output: true
    permalink: /:collection/:path
  geospatial:
    output: true
    permalink: /:collection/:path
  bioinformatics:
    output: true
    permalink:  /:collection/:path
  pathways:
    output: true
  working-groups:
    output: true
  contribute:
    output: true
    permalink:  /:collection/:path

defaults:
  -
    scope:
      path: ""
      type: "pathways"
    values:
      layout: "single"
      variety: "pathway"
      header:
        overlay_color: "transparent"
        callout_color: "primary-darker"
  -
    scope:
      path: ""
      type: "data-science"
    values:
      layout: "single"
      variety: "workbook"
      header:
        image: /assets/img/data-science_banner.png
        overlay_color: "transparent"
      subject: "data-science"
      order: 200
  -
    scope:
      path: ""
      type: "computing-skills"
    values:
      layout: "single"
      variety: "workbook"
      subject: "computing-skills"
      order: 200
      header:
        image: /assets/img/computing_banner.png
        overlay_color: "transparent"
  -
    scope:
      path: ""
      type: "bioinformatics"
    values:
      variety: "workbook"
      layout: "single"
      subject: bioinformatics
      bin: "specialization"
      order: 200
  -
    scope:
      path: ""
      type: "geospatial"
    values:
      variety: "workbook"
      layout: "single"
      subject: geospatial
      bin: "specialization"
      order: 200
  -
   scope:
     path: "workbooks/_specialization/demo/"
     type: "specialization"
   values:
     subject: "demo"
  -
    scope:
      path: ""
      type: "contribute"
    values:
      layout: "altpage"
      showdescription: true
      parent: 1

# Compress Sass
sass:
  style: compressed

# Add code blocks to text
highlighter: rouge

plugins:
  - jekyll-last-modified-at
  - jekyll-sitemap
  - jekyll-redirect-from

# https://designsystem.digital.gov/documentation/developers/#sass-compilation-requirements
autoprefixer:
  browsers:
    - "> 2%"
    - last 2 versions
    - IE 11
    - not dead


# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - package.json
  - gulpfile.js
