---

title: What is <b>Command Line Interface</b>? Learn basic concepts
description: "A concept of text-based interface for interacting with and controlling a computer system."
type: lesson module
index: 3
order: 2
tags: [command line interface]
packages: 
level: 3
author: Aleksandra Badaczewska

---


## Overview

The command line interface (CLI) is a foundational concept for interacting with computer systems through text-based commands, providing a powerful and flexible alternative to graphical interfaces (GUIs).
This lesson module introduces the core concepts of the CLI, including its definition, purpose and how it differs from graphical user interfaces (GUIs). 
It also highlights examples of CLI environments across different operating systems, including those utilized in high-performance computing (HPC) systems, such as SCINet infrstructure.


<div id="info-alerts-1" class="highlighted highlighted--info ">
    <div class="highlighted__body">
        <h4 class="highlighted__heading">Main Objectives</h4>
        <ul>
            <li>Understand what the CLI is and its role in system interaction.</li>
            <li>Differentiate between CLI and GUI approaches to computer control.</li>
            <li>Identify common CLI environments and tools used across platforms.</li>
        </ul>

    </div>
</div>

<div id="success-alerts-1" class="highlighted highlighted--success ">
    <div class="highlighted__body">
        <h4 class="highlighted__heading">Goals</h4>
        <p>By the end of this tutorial, you will:</p>
        <ul>
            <li>Understand why the CLI is essential for USDA researchers working on computationally advanced projects, such as data processing and software development.</li>
            <li>Gain the confidence to transition from using a GUI to leveraging the CLI effectively.</li>
            <li>Acquire knowledge of the CLI environments available on the SCINet HPC systems (Atlas, Ceres).</li>
        </ul>
    </div>
</div>


<div class="usa-accordion accordion-bordered"  markdown="1">


### Lesson scope

<p style="margin-bottom: 1em;">This module focuses on introducing the command line interface as a core concept for interacting with computer systems through text-based commands.</p>

<div class="usa-accordion">

    {% include accordion title="Key concepts" class="primary " controls="scope-concepts" %}
    <div id="scope-concepts" class="accordion_content">
        
        <p> <code>Command Line Interface (CLI)</code> &emsp;  <code>CLI Environments</code> &emsp; <code>Text-Based Interaction</code> &emsp; <code>Command Execution</code> </p>
    </div>

    {% include accordion title="Tools/Technologies" class="primary " controls="scope-tools" %} 
    <div id="scope-tools" class="accordion_content">
        <ul>
            <li>Windows: Command Prompt, PowerShell, Windows Terminal, Windows Subsystem for Linux (WSL)</li>
            <li>macOS: Terminal</li>
            <li>Linux: GNOME Terminal</li>
        </ul>
    </div>

    {% include accordion title="Applications" class="primary " controls="scope-apps" %} 
    <div id="scope-apps" class="accordion_content">    
        <ul>
            <li>Navigating and managing files via CLI.</li>
            <li>Automating repetitive tasks.</li>
            <li>Data wrangling, including Big Data.</li>
            <li>High-performance computing.</li>
            <li>Customn code development.</li>
            <li>Configuring systems efficiently.</li>
        </ul>
    </div>
</div>


### Nomenclature

**CLI (Command Line Interface):** A text-based interface for interacting with the computer system by typing commands.

**GUI (Graphical User Interface):** A visual way to interact with systems, using windows, icons, and menus.

**Terminal:** A tool or application that provides access to the CLI.

**Shell:** The command interpreter that processes user commands entered into the CLI.


## What is Command Line Interface?

The command line interface (CLI) is a text-based method of interacting with a computer system. 
Instead of using a graphical interface with windows and icons, users type commands directly into a terminal to perform tasks. 
The CLI offers precise control over the system, making it a powerful tool for customized tasks and automation.

### How Does CLI Differ From GUI?

The primary difference between CLI and GUI lies in how users interact with the system. GUIs are user-friendly and intuitive, but they can be slower and less flexible for advanced tasks. In contrast, the CLI is ideal for repetitive actions, scripting, and working with large amounts of data.

| CLI | GUI |
|-----|-----|
| Commands are typed using a keyboard; the focus is on speed, control and precision. | Users interact with visual elements like icons, buttons and menus, often with a mouse. |


### Why use CLI? Benefits over GUI

The CLI provides several key advantages:

* **Speed:** Tasks can be performed more quickly by typing commands instead of navigating through menus.
* **Precision:** Commands offer granular control over system operations.
* **Automation:** Scripts allow repetitive tasks to be automated, saving time and effort.

### Examples of CLI environments 

Different operating systems use different CLI environments. Here are some common ones:

* **Command Prompt (Windows):** A basic CLI tool for Windows users.
* **PowerShell (Windows):** A powerful CLI tool with scripting capabilities.
* **Bash (Linux/macOS):** A Unix shell that is the standard CLI for many systems.
* **Zsh (Linux/macOS):** An advanced shell with enhanced features like autocomplete and plugins.

## CLI on the SCINet HPC (Atlas, Ceres)



