@use './highlight-styles' as *;

$highlighted-icons: (
  "warning" "warning" "lighter" "warning",
  "info" "info" "lighter" "info",
  "question" "accent-warm" "lighter" "help",
  "tip" "info" "lighter" "star",
  "error" "error" "lighter" "error",
  "note" "info" "lighter" "push_pin",
  "download" "info" "lighter" "file_download",
  "highlighted" "warning" "lighter" "flag",
  "success" "success" "lighter" "check_circle",
  "emergency" "emergency" "base" "error",
  "primary" "primary" "base" "notifications",
  "secondary" "secondary" "dark" "notifications"
);



@each $name, $colval, $spec, $icon in $highlighted-icons {
    .highlighted--#{$name} {
      @include highlighted-status-wrapper-styles($name, $colval, $spec);
      .highlighted__body {
        @include highlighted-styles-other($name, $colval, $spec, $icon)
      } 
    }
    .emph--#{$name} {
      @include highlighted-status-wrapper-styles($name, $colval, $spec);
      @include highlighted-status-styles($name, $colval, $spec);
    }
    .class--#{$name} {
      @include highlighted-styles;
      * + & {
      margin-top: units(2);
      };
      @include highlighted-status-styles($name, $colval, $spec);
    }
    
    .usa-ac-header--#{$name} {
      @include accordion-header-styles($name, $colval, $spec);
    }
    
    .usa-ac-header--#{$name}[aria-expanded="false"] {
      @include accordion-header-unopened-styles($name, $colval, $spec);
    }
}