@use "sass:math";

@use "uswds-core" as *;
@use 'highlight-styles' as hl;

$highlighting-icons: (
  "warning" "warning" "lighter" "warning",
  "info" "info" "lighter" "info",
  "question" "primary" "lightest" "help",
  "tip" "info" "lighter" "star",
  "error" "error" "lighter" "error",
  "note" "info" "lighter" "push_pin",
  "download" "info" "lighter" "file_download",
  "highlighted" "warning" "lighter" "flag",
  "success" "success" "lighter" "check_circle",
  "emergency" "emergency" "base" "error",
  "primary" "primary" "base" "notifications",
  "secondary" "secondary" "dark" "notifications",
  "reading" "info" "lighter" "map"
);

.highlighted {
  @include alert-styles;

  .highlighted__body {
    @include u-padding-x($theme-alert-padding-x);

    &::before {
      left: calc(
        units($theme-alert-padding-x) + $alert-icon-optical-adjust-left
      );
    }
  }

  * + & {
    margin-top: units(2);
  }
}


////

@each $name, $colval, $spec, $icon in $highlighting-icons {

  .bg--#{$name} {
    @include hl.highlighted-bg-styles($name, $colval, $spec);
  }

  .highlighted--#{$name} {
    @include hl.highlighted-status-wrapper-styles($name, $colval, $spec);
    .highlighted__body {
      @include hl.highlighted-styles-other($name, $colval, $spec, $icon)
    } 
  }
  .emph--#{$name} {
    @include hl.highlighted-status-wrapper-styles($name, $colval, $spec);
    @include hl.highlighted-status-styles($name, $colval, $spec);
  }
/*
  .acc--#{$name} {
    h4,h5{
      button{
        @include hl.accordion-header-styles($name, $colval, $spec);
      }
      button[aria-expanded="false"] {
        @include hl.accordion-header-unopened-styles($name, $colval, $spec);
      }
    }
  }
  */

  .usa-ac-header--#{$name} {
    @include hl.accordion-header-styles($name, $colval, $spec);
  }
  
  .usa-ac-header--#{$name}[aria-expanded="false"] {
    @include hl.accordion-header-unopened-styles($name, $colval, $spec);
  }
}