<!-- title, options, tname -->
<div class="tablet-lg:grid-col-12 ">{%- assign loop = 0 %}
    <label class="usa-label text-bold {{ include.labelclass }}" for="{{ include.tname }}-selector">{{ include.title }}:</label>
    {% if _section.inclusive-toggle %}<div id="{{ _section.val }}-hint" class="usa-hint">Results match tag 1 AND tag 2</div>{% endif %}
    <div class="usa-combo-box">
        <select class="usa-select capital selectmultiple" name="{{ include.tname }}-selector" id="{{ include.tname }}-selector">
            <option value>- Select {{ include.title }} -</option>
            {% for _option in include.options %}
            <option value="{{ _option }}" match="{{ loop }}" confirms="{{ include.tname }}">{{ _option }} <span class="att-count"></span></option>
            {%- assign loop = loop | plus: 1 %}
            {% endfor %}
        </select>
    </div>
</div>
<div id="{{ include.tname }}" class="tablet-lg:grid-col-12">
    <!-- title, options, tname, checked, labelclass subtitle-->
<fieldset class="usa-fieldset">
    {% unless include.nolegend %}<legend class="usa-legend text-bold {{ include.labelclass }}">{{ include.subtitle }}</legend>{% endunless %}
    {% for _option in include.options %}
        {%- if include.checked=='checked' or _option==include.checked %}
            {% capture checked %}checked = 'checked'{% endcapture %}
        {%- else %}
            {% assign checked = '' %}
        {%- endif %}
    <div class="usa-checkbox confirm-box">
        <input
          class="usa-checkbox__input {{ sectionslug }}-filters"
          id="check-{{ include.title }}-{{ _option }}"
          type="checkbox"
          name="{{ include.tname }}"
          value="{{ _option }}"
          {{ checked }}
        />
        <label class="usa-checkbox__label capital" for="check-{{ include.title }}-{{ _option }}"
          >{{ _option }}</label
        >
      </div>
    {% endfor %}
</fieldset>
</div>