<fieldset class="usa-fieldset">
    {% unless include.nolegend %}<legend class="usa-legend text-bold {{ include.labelclass }} margin-top-0">{{ include.title }}</legend>{% endunless %}
    {% for _option in include.options %}
        {%- if include.checked=='checked' or _option==include.checked %}
            {% capture checked %}checked = 'checked'{% endcapture %}
        {%- else %}
            {% assign checked = '' %}
        {%- endif %}
        {% assign option = forloop.index0 | plus: 1 %}
    <div class="usa-checkbox {{ include.classname }}">
        <input
          class="usa-checkbox__input "
          id="check-{{ idstring }}-{{ option }}"
          type="checkbox"
          name="{{ qid | default: 0 }}"
          value="{{ option }}"
          {{ checked }}
        />
        <label class="usa-checkbox__label{{ classname }}" for="check-{{ idstring }}-{{ option }}"
          >{{ _option | markdownify }}</label
        >
      </div>
    {% endfor %}
</fieldset>