/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

@use "uswds-core" as *;

//theme sizes
 
.sci-container {
   @include u-maxw($theme-grid-container-max-width);
   @include u-margin-x('auto');
}


.usa-header + .usa-hero {
   border-top: 0;
 }
 
//side nav formatting
.main-side {
  @include u-maxw($theme-grid-container-max-width);
}

//code block scroll
pre { 
   @include u-padding-left(1); 
   overflow-x: auto; 
}

//hero adjustments

.usa-hero__callout {

   @include at-media("tablet") {
      max-width: units("tablet");
   }
}

.full {
   .usa-hero__callout {
      @include at-media($theme-header-min-width) {
         max-width: units($theme-header-min-width);
      }
   }
   .hero-graphic{
      @include at-media-max($theme-header-min-width) {
         @include u-display('none') 
      }
   }
}

.usa-hero {
   @include u-bg('primary');
   .usa-hero__callout {

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
         color: color("white");
      }
   }
}

// footer

.usa-footer__secondary-link {
   text-align: left;
}

.usa-footer__secondary-link a {
   text-decoration: none;

   &:hover {
      text-decoration: underline;
   }
}

.align-c{
   display:flex;
   @include u-flex('column');
   @include u-flex('align-center') 
}

.footer-flex {
   @include at-media-max('mobile-lg') {
      display:flex;
      @include u-flex('column');
      @include u-flex('align-center') 
   }
}


.survey__container {
  padding-left: units(2);
  padding-right: units(2);
  @include at-media("desktop") {
    display: flex;
    justify-content: flex-end;
  }
  @include at-media("widescreen") {
    bottom: 0;
    position: sticky;
    z-index: z-index(500);
    pointer-events: none;
  }

  .usa-button {
    margin-bottom: units(2);
    @include at-media("desktop") {
      @include u-bg('white');
      margin: units(2) units(2) units(4);
    }

    @include at-media("widescreen") {
      pointer-events: auto;
    }
  }
}


.site-preview-heading {
   @include typeset("lang", "sm", 2);
   @include u-margin-bottom(2);
   @include u-margin-top(4);
   @include u-text("ls-2", "normal", "base");
 }

 .usa-content-list {
   @include unstyled-list;
   > li {
     border-top: 1px solid color("base-lighter");
     margin-top: units(1);
     padding-top: units(1);
     > h4:first-child{
      @include typeset("lang", "sm", 2);
      @include u-margin-bottom(2);
      @include u-margin-top(4);
      @include u-text("ls-2", "normal", "base");
     }
     > h3:first-child{
      @include typeset("lang", "md", 2);
      @include u-margin-bottom(2);
      @include u-margin-top(4);
      @include u-text("ls-2", "normal", "base");
     }
 
     ul {
       list-style-type: disc;
       margin-bottom: units(2);
       padding-left: units(3);
     }
 
     li {
       margin-top: units(0.5);
     }
   }
 }