{% if include.outer %}{% assign outer = include.outer %}
{% elsif include.lvl %}
{% assign outer = site[page.collection] | where: 'org', include.lvl | sort: "ordered" %}
{% else %}
{% assign outer = site[page.collection] | where: 'org', 1 | sort: "ordered" %}
{% endif %}

{% assign inner = include.inner | default: site.documents %}

{% assign cardmedia = 1 %}
{% assign classes = "tablet-lg:grid-col-6 widescreen:grid-col-4" %}

<div class="grid-row" >
    <div class="grid-container sci-container">
      {% for _page in outer %}

      {% if _page.org %}

            {% include collect/pagesubset subset=inner post=_page %}
            {% if pssize == 0 %}
                {% assign mycards = pagesubset | push: _page %}
            {% else %}
                {% assign mycards = pagesubset %}
            {% endif %}

      {% else %}
        {%- assign mycards = "" | split: "" %}

        {% assign mycards = mycards | push: _page %}

      {% endif %}

      {% include components/cards.html title=_page.title url=_page.url collected=mycards %}

      {% endfor %}
      </div>
</div>
