@use "uswds-core" as *;
@forward "usa-accordion";

.usa-prose > .usa-accordion {
    margin-top: 1em;
}

.accordion_content {
    @extend .usa-accordion__content;
    overflow:visible;
 }

 .usa-accordion {
    @extend .usa-accordion--bordered;
}

.usa-accordion__button > .h-note {
    font-weight: 300;
}

/* .inset {
    margin-left: 24px;
    margin-top: 12px;
} */

details summary { 
    cursor: pointer; 
}