@use "uswds-core" as *;
@use "overrides" as OR;

a.listed {
   text-decoration: none;
   
   &:hover{
      text-decoration:underline;
   }

   &::after {
      content: '\00a0\00BB';
   }
}

.icon-ul {
   list-style-type: none;
 }

a.gloss{
   text-decoration: none;
   color: color("base-darkest");

   &:hover{
      .listed{
         text-decoration:bold;
         color: color("white");
         background-color: color("primary-dark");
      }
   }

   .listed{
      &::after {
         content: '\00a0\00BB';
      }
   }
}
a.gloss_wb{
   text-decoration: none;
   color: color("ink");

   &:hover{
      .listed{
         text-decoration:bold;
         color: color("white");
         background-color: color("accent-warm-darker");
      }
   }

   .listed{
      &::after {
         content: '\00a0\27A4';
      }
   }
}

.tablet-text-right{
   @include at-media('tablet') {
      @include u-text('right');
   }
}

.max-tablet {
   @include OR.max-tablet
}

.home-block {
   @include u-margin-y(2);

   .right-button {
      @include u-text('center');

      @include at-media("mobile-lg") {
         @include u-text('right');
      }
   }
}

.arrow::after {
   content: '\00a0\00BB';
   display: inline;
}


.sharp-card {
   @include u-radius(0);
   @include u-border('base-lightest');
   a.sharp:link {
      text-decoration: none;
      @include u-text('primary-dark');
   }

   a.sharp:visited {
      text-decoration: none;
      color:  #551A8B;
   }

   a.sharp:hover, a.sharp:active {
      text-decoration: underline;
      @include u-text('accent-cool-darker')
   }

   .heading {
      @include u-padding-x(2);
      @include u-padding-y(1);
      @include u-bg('base-lightest');
      @include u-border-bottom('2px');
   }
   
}

//style links
.ext-nested.usa-link--external::after{
   content: none;
   box-sizing: inherit;
}

.ext-nested.usa-link--external{
   padding-right: 0;
}

//intro card

.rounded-box {
   @include u-padding(3);
   @include u-radius('lg');

   @include at-media("mobile-lg") {
      @include u-margin(2);
   }

   @include at-media("desktop") {
      @include u-margin(4);
   }
}

.sci-card {
   @extend .rounded-box;
   @include u-text('center');
   @include u-bg('primary-lighter');

   h1 {
      @include typeset('ui', 'xl');
   }

   p {
      @include typeset('ui', 'md', 6);
   }

   .sci-select {
      @include u-maxw('mobile-lg');
      @include u-bg('primary-light');
   }

   .sci-flex {
      @include u-margin-x(2);
   }


}

.flex-sci-card {
   .sci-card {
      @include at-media("desktop") {
         @include u-maxw('mobile-lg');
      }

      @include at-media("tablet") {
         @include grid-row;
      }

      .sci-flex {
         @include at-media("tablet") {
            @include u-margin-y('auto');
            @include grid-col;
         }

      }
   }
}

.alt-sci-card {
   .sci-card {
      @include at-media($theme-header-min-width) {
         @include grid-row;
      }

      .sci-flex {
         @include at-media("desktop") {
            @include u-margin-y('auto');
            @include grid-col;
         }

         .sci-select {
            @include at-media("tablet") {
               @include u-margin-x('auto');
            }
         }
      }
   }
}



.sn-text-intro {
   @include at-media("tablet") {
      @include u-margin-bottom(2);
      @include u-margin-top(0);
   }
}

.sci-select {
   @include u-text('center');
   @include u-maxw('mobile');
   @include u-radius('lg');
   @include u-padding(3);
   @include u-margin-y(2);
   @include u-margin-x('auto');

   @include at-media("tablet") {
      @include u-margin(4);
   }

   p {
      @include typeset('ui', 'xs', 3);
   }
}

//icon lists



.icon-light {
   fill: color("primary-lighter");
   @media (forced-colors: active) {
      fill: ButtonText;
   }
}

.icon-dark {
   @media (forced-colors: active) {
      fill: Canvas;
   }
}

.icon-card {
   @include u-margin(1);
   @include u-padding(1);
   @include u-circle(7);
   @include u-bg('primary-lighter');

   &--lg{
      @include u-circle(10);
   }

   &--secondary{
      @include u-bg('secondary-lighter');
      .icon-light {
         fill: color("secondary-lighter");
      }
   }
   &--base{
      @include u-bg('base-lighter');
      .icon-light {
         fill: color("base-lighter");
      }
   }
}



.usa-card__container:hover {
   .icon-card {
      .icon-h {
         fill: color("accent-cool");
      }
      &--red{
         .icon-h {
            fill: color("red-40v");
         }
      }
      &--green{
         .icon-h {
            fill: color("green-cool-30v");
         }
      }
      &--yellow{
         .icon-h {
            fill: color("yellow-20v");
         }
      }
      &--purple{
         .icon-h {
            fill: color("violet-warm-30v");
         }
      } 
      &--secondary{
         .icon-h {
            fill: color("secondary-vivid");
         }
      }
      &--accent-warm{
         .icon-h {
            fill: color("accent-warm");
         }
      }
   }
}

///


.graphic-link {
   @include u-margin-x('auto');

   @include at-media(desktop) {
      @include grid-col(3);
   }

   a {
      @include u-padding(3);
      @include u-radius('lg');
      @include u-margin-x('auto');
      @include u-text('center');
      color: color("primary-darker");

      &:hover {
         color: color("primary-darker");
         background-color: color("base-darkest");

         svg {
            .icon-dark {
               fill: color("primary-darker");
            }

            .icon-h {
               fill: color("accent-cool");
            }
         }
      }
   }

}

.graphic-links {
   @include typeset;
   @include border-box-sizing;

   .usa-media-block__body {
      > :first-child {
         margin-top: 0;
      }
   }

}

.graphic-list__heading {
   @include typeset-h3;
}

//featured posts

.featured_posts {

   a:link {
      text-decoration: none;
   }

   a:visited {
      text-decoration: none;
   }

   a:hover {
      text-decoration: none;
   }

   a:active {
      text-decoration: none;
   }

   .usa-card__container {
      text-decoration: none;

      &:hover {
         @include u-shadow(2)
      }

   }
}

//bio

.card-img-sq{
   .usa-card__container{
      min-height: 17rem;
      .usa-card__img{
         background-color: inherit;
         img{
            height: auto;
         }
      }
   }
}

//copy code
.copy-code {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
 
   // Overrides .usa-accordion__content "overflow: auto", which prevents sticky positioning
   overflow: initial;
 
   // Override display flex on collapsed accordion
   &[hidden] {
     display: none;
   }
 
   &__wrapper {
     display: none;
 
     @include at-media("tablet") {
       display: block;
       margin-left: units(2);
     }
   }
 
   &__button {
     @include u-font("sans", "3xs");
     @include u-padding-x(0.5);
     margin-right: 0;
     margin-top: 1rem;
     min-width: units(10);
     position: sticky;
     top: units(1);
 
     &--success,
     &--success:hover {
       background-color: color("success-dark");
       box-shadow: none;
       color: color("white");
     }
 
     @include at-media("desktop") {
       // Offset for nav
       top: units(8);
     }
   }
   .highlight{
      overflow:auto;
      width:100%
   }
 }