@use "uswds-core" as *;
@forward "usa-in-page-navigation";

.guide-nav{
    @include u-border-top('05');
    @include u-bg('base-lightest') 
}

.guide-nav.usa-current{
    @include u-border-top(0);
    @include u-border-bottom(2px);
}


.visually-hidden:not(:focus) {
    position: absolute;
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0,0,0,0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

.usa-sidenav{
  background-color: color('white');
  border: 2px solid color('base-lighter');
  border-radius: .25rem;
  .usa-sidenav__sublist {
    font-size: font-size("lang", "2xs");
    .usa-current {
      color: color($theme-color-primary-vivid);
    }
  }
  
  li.current-section{
    border-top:    2px solid color('gray-cool-10');
    border-bottom: 1px solid color('gray-cool-10');
    border-left: 4px solid color($theme-color-primary-vivid);
    a.current-section{
        font-weight: bold;
    }

    .pagelinks {
        a {
            padding-left: units(2);
          }
        a.current-section{
            font-weight: bold;
        }

        .usa-sidenav__sublist {
            a {
              padding-left: units(4);
            }
            .usa-sidenav__sublist { 
                a {
                padding-left: units(6);
                }
                .usa-sidenav__sublist {
                    a {
                        padding-left: units(8);
                    }
                }
            }
        }
    }

    .is-current{
        border-left: none;
    }
  }
  .is-current{
    background-color: color('gray-2');
    border-left: 4px solid color($theme-color-primary-vivid);
  }
  .usa-current{
    background-color: color('gray-2');
  }
  .usa-current::after{
    content: none !important;
  }
}

.filtered{
  display: none;
  color: color($theme-color-secondary-vivid);
}
.wb-select{
  > a{
    .filtered{
      display: inline-block;
      margin-right: .25rem;
    }
  }

}

.sidenav_desktop{
  display: none;
  @include at-media ($theme-header-min-width) {
    display: flex;
    @include grid-col(3);
    @include u-padding-y(10);
    @include u-flex('column');
  }
}
.sidenav_mobile{
  @include at-media ($theme-header-min-width) {
    display: none;
  }
  @include u-width('full');  
  @include u-margin-bottom(2);

}

/// inpage nav
/// 

.wb-in-page-nav-container{ 
  position: sticky;
  top: 0;
  //align-items: flex-start;
  //display: flex;
  //@include u-height('full')
  //@include u-flex('align-self-stretch'); 

  // Set main landmark max width to ensure in-page nav will fit

}

.wb-in-page-nav{
  @extend .usa-in-page-nav;
}

.wb-in-page-nav__nav{
  @extend .usa-in-page-nav__nav;
}

.wb-in-page-nav__heading{
  @extend .usa-in-page-nav__heading;
}

.wb-in-page-nav__list{
  @extend .usa-in-page-nav__list;
}

.wb-in-page-nav__item{
  @extend .usa-in-page-nav__item; 
}