@use "uswds-core" as *;
@use "overrides" as OR;

.sticky-nav{
    @include OR.is-sticky
}

.top-header {
    @include OR.top-header;
}

.no-display {
    @include OR.no-display
}
.never-display{
    @include OR.no-display  
}
.fc-no-display{
    @include OR.no-display 
}

.unstyled-list {
    list-style-type:none
}

.allow-overflow {
    overflow:visible
}

.hero-img {
    @supports not (background-image: url("/assets/img/hero.webp")) {
            background-image: url("/assets/img/hero.jpg")
    }
    background-image: url("/assets/img/hero.webp");
}

.no-hero-img {
    background-image: none
}

.inline-svg {
    position: relative;
    top: .25em;
    flex-shrink: 0;
    height: 1em;
    width: 1em;
    fill: currentColor;
}

.page-contents img{
    padding: 1em;
}

 .header-note{
    margin-top: 0px;
    font-size:  1rem;
 }
h1, h2, h3{
    &:has(+ .header-note){
        margin-bottom: 0px;
    }
}

.usa-prose{
    h1:first-child {
        @include OR.top-header;
    }
    h1 {
        border-bottom: 2px solid color('base');
    }
    h2 {
        border-bottom: 2px solid color('base-lighter');
    }
}


  .text-page-intro {
    font-size: 1.25rem;
    max-width: 72ex;
    font-weight: 300;
    margin-bottom: 1rem;
    margin-top: .5rem;
  }

.usa-process-list > .usa-process-list__item, .usa-prose .usa-process-list > .usa-process-list__item {
    max-width: measure($theme-text-measure);
  }

 .usa-process-list__item h3:first-of-type{  
    @include typeset(
        $theme-process-list-heading-font-family,
        $theme-process-list-heading-font-size,
        2
    );
    color: color($theme-process-list-heading-color);
    font-family: family($theme-process-list-heading-font-family);
    font-weight: font-weight("bold");
    margin: 0;

    & + * {
        margin-top: units(0.5);
    }
}

.sm-txt{
    @include u-font('body', '2xs') 
}

.usa-layout-docs__main{
    @include at-media ($theme-header-min-width) {
        @include u-maxw($theme-header-min-width);
    }
    @include at-media (100em) {
        @include u-maxw('widescreen');
    }
}