@use "uswds-core" as *;
@use "overrides" as OR;

.sticky-nav{
    @include OR.is-sticky
}

.top-header {
    @include OR.top-header;
}

.no-display {
    @include OR.no-display
}
.never-display{
    @include OR.no-display  
}
.fc-no-display{
    @include OR.no-display 
}

.unstyled-list {
    list-style-type:none
}

.allow-overflow {
    overflow:visible
}

.hero-img {
  background-image: url("/assets/img/hero.jpg")
}

.no-hero-img {
    background-image: none
}

.inline-svg {
    position: relative;
    top: .25em;
    flex-shrink: 0;
    height: 1em;
    width: 1em;
    fill: currentColor;
}

.page-contents img{
    padding: 1em;
}

 .header-note{
    margin-top: 0px;
    font-size:  1rem;
 }
h1, h2, h3{
    &:has(+ .header-note){
        margin-bottom: 0px;
    }
}

.usa-prose{
    h1:first-child {
        @include OR.top-header;
    }
    h1 {
        border-bottom: 2px solid color('base');
    }
    h2 {
        border-bottom: 2px solid color('base-lighter');
    }
}


  .text-page-intro {
    font-size: 1.25rem;
    max-width: 72ex;
    font-weight: 300;
    margin-bottom: 1rem;
    margin-top: .5rem;
  }

.usa-process-list > .usa-process-list__item, .usa-prose .usa-process-list > .usa-process-list__item {
    max-width: none;
  }

.usa-process-list__heading{
  color: color($theme-process-list-heading-color);
  font-family: family($theme-process-list-heading-font-family);
  font-weight: font-weight("bold");
  margin: 0;

  & + * {
      margin-top: units(0.5);
  }
}

.h3list > .usa-process-list__heading{  
    @include typeset(
        $theme-process-list-heading-font-family,
        $theme-process-list-heading-font-size,
        2
    );

}

.h4list > .usa-process-list__heading{  
  @include typeset(
      $theme-process-list-heading-font-family,
      "md",
      2
  );
}

.sm-txt{
    @include u-font('body', '2xs') 
}

.usa-layout-docs__main{
    @include at-media ($theme-header-min-width) {
        @include u-maxw('tablet-lg');
    }
}

///////////////
/// 

// PROCESS LIST
$process-list-counter-content-padding: calc(
  (#{units($theme-process-list-counter-size)} / 2) - #{units(0.5)}
);
$process-list-counter-line-x-position: calc(
  (
    (#{units($theme-process-list-counter-size)} / 2) -
      (#{units($theme-process-list-connector-width)} / 2)
  )
);

$mobile-process-counter-size: 3;

.section-bordered{
    font-size: size(
      $theme-process-list-font-family,
      $theme-process-list-font-size
    );
    margin-bottom: 0;
    padding-bottom: units(4);
    padding-left: $process-list-counter-content-padding;

    @include at-media ($theme-site-margins-breakpoint) {
      padding-left: calc(#{$process-list-counter-content-padding} * 2);
    }
}

.wb-subsection-content{
  padding-left: calc(#{$process-list-counter-content-padding} / 2);
  @include at-media ($theme-site-margins-breakpoint) {
      padding-left: $process-list-counter-content-padding;
}
}

@include override-prose {
  .usa-process-list {
    @include typeset($theme-process-list-font-family);
    @include unstyled-list;
    counter-reset: usa-numbered-list;
    padding: 20px 0 0 .7rem;
    position: relative;
    @include at-media ($theme-site-margins-breakpoint) {
      padding: 20px 0 0 $process-list-counter-line-x-position;
    }
  }

  .usa-process-list__item {
    @extend .section-bordered;
    border-left: calc((#{units($theme-process-list-connector-width)} / 2)) solid
      color($theme-process-list-connector-color);
    @include at-media ($theme-site-margins-breakpoint) {
      border-left: units($theme-process-list-connector-width) solid
        color($theme-process-list-connector-color);
    }
  }
}

.usa-process-list__item {

  &::before {
    @include u-flex("row", "align-center", "justify-center");
    @include u-circle($mobile-process-counter-size);
    background-color: color($theme-process-list-counter-background-color);
    box-shadow: 0 0 0 3px
      color($theme-process-list-counter-gap-color);
    color: color($theme-process-list-counter-text-color);
    display: flex;
    font-family: family($theme-process-list-counter-font-family);  
    font-size: size(
      $theme-process-list-counter-font-family,
      'md'
    );
    font-weight: font-weight("bold");
    height: units($mobile-process-counter-size);
    left: 0;
    line-height: lh($theme-process-list-counter-font-family, 1);
    margin-top: .1rem;
    position: absolute;
    width: units($mobile-process-counter-size);

    
    $half-of-font-size: -0.4rem;

    @include at-media ($theme-site-margins-breakpoint) {
      @include u-circle($theme-process-list-counter-size);
      box-shadow: 0 0 0 units($theme-process-list-counter-gap-width)
        color($theme-process-list-counter-gap-color);
      font-size: size(
        $theme-process-list-counter-font-family,
        $theme-process-list-counter-font-size
      );
      height: units($theme-process-list-counter-size);
  
      line-height: lh($theme-process-list-counter-font-family, 1);
      margin-top: $half-of-font-size;
      width: units($theme-process-list-counter-size);
    }
  }

  ul {
    list-style-type: disc;

    li {
      margin-bottom: units(0.5);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

ol > .usa-process-list__item {
  &::before {
    content: counter(usa-numbered-list, decimal);
    counter-increment: usa-numbered-list;
    border: 3px solid
    color($theme-process-list-counter-border-color);

    @include at-media ($theme-site-margins-breakpoint) {
      border: units($theme-process-list-counter-border-width) solid
        color($theme-process-list-counter-border-color);
    }
  }
}

ul > .usa-process-list__item {
  &::before {
    content: " ";
    border: 3px solid
    color($theme-process-list-connector-color);

    @include at-media ($theme-site-margins-breakpoint) {
      border: units($theme-process-list-counter-border-width) solid
        color($theme-process-list-connector-color);
    }
  }
}



.h3list > h4 ~ *:not(h4) {
  margin-left: calc(#{$process-list-counter-content-padding} / 2);

  @include at-media ($theme-site-margins-breakpoint) {
    margin-left: $process-list-counter-content-padding;
  }
}