@use "uswds-core" as *;
@forward "usa-table";

table {
    @extend .usa-table;
}

.sticky{
    table{
    @extend .usa-table--sticky-header;
    }
}

.borderless {
    table{
    @extend .usa-table--borderless;
    }
}

.striped {
    table{
        @extend .usa-table--striped;
    }
}

.scrollable-table {
    @extend .usa-table-container--scrollable;
}

//table

.table-list {
    @include usa-table;
    @include usa-table--compact;
    @include usa-table--borderless;
 }

 
.flex-scroll{
    @include at-media-max("tablet-lg") {
        @include at-media("mobile-lg"){
            @include usa-table-container--scrollable;
        }
    }
    .usa-table--striped-flex {
        @include at-media("mobile-lg"){
            @include usa-table--striped;
        }
    }
    
    table{
        @include at-media("tablet-lg"){
            @include usa-table--sticky-header;
        }
    }
}