
/*** Overwrite the default page template settings ***/

// changed theme defaults to match
/* makes navigation bar wide enough to keep all tabs inline
.usa-header--extended .usa-nav__inner {
  @media (min-width: 64em) {
    max-width: 75rem;
  }
}*/

/* makes navigation dropdowns wide enough to keeps items inline
.usa-nav__submenu {
  @media (min-width: 64em) {
    width: 17rem;
  }
} */

/* aligns page title with the USDA logo and keeps subtitle inline */
// added formatting so this only applies on transparent backgrounds
.usa-hero .usa-hero__callout.bg-transparent {
  @media (min-width: 40em) {
    max-width: 75rem;
    padding-left: 0.1rem;
  }
}

.no-hero-img .usa-hero__callout {
  @media (min-width: 40em) {
    max-width: 75rem;
    padding-left: 0.1rem;
  }
}


.usa-hero__heading {line-height: 1.6;}
.font-heading-md {font-size: 1.2rem;}

/* optimize sidenav width to fit longer titles */
.usa-sidenav__item {padding-right: 0 !important;}
.usa-sidenav a {padding-right: 0 !important;}
.grid-row.grid-gap> .usa-layout-docs__sidenav {padding-right: 0;}
.usa-current {font-size: 0.99rem;}

/* fixes usable width of the cards in a given workbook */
.sci-container {width: 100%;}
.main-side .usa-card-group {
  @media (min-width: 64em) {width: 120%;}
}


/*** Create styles for custom components ***/

.h2 {
   display: block;
   font-size: 1.5em;
   font-weight: bold;
}

.usa-combo-box__list-option,.usa-combo-box__input,.capital {
  text-transform: capitalize;
}

.rm-a a:after {
  content: none;
}
