---
title: Intro to Bash

description: "An introduction to Bash - the default command interpreter for SCINet HPC."
type: introduction
index: 2
order: 10
tags: [Unix shell, Bash] 
packages: 
level: 2

objectives:
  - Gain a working knowledge of Bash and its essential features.
  - Develop confidence in using shell commands on SCINet HPC systems to perform computational tasks.


goal: "This lesson module emphasizes the Unix shell's functionality as a command interpreter in Unix-like systems, with a focus on Bash."

overview:
  applications:
    - Directly executing operating system commands via the CLI, enabling cross-platform workflows.
    - Automating repetitive tasks using shell scripts.
    - Interacting with HPC systems and clusters for research workflows.
    - Writing complex scripts for computational research.
    - Managing files, processes, and user permissions.
  terminology: terms

terms:
  - term: Shell
    definition: "A command interpreter that processes user commands and sends them to the OS for execution. Examples include `Bash`, `Zsh`, `tcsh`, `ksh`."
  - Prompt  
  - term: Environment Variable 
    definition: A key-value pair used to store system or user-specific settings. Examples include `PATH`, which defines the directories the shell searches for commands.
  - term: PATH
    definition: "An environment variable specifying directories where the shell looks for executable commands. Adding a directory to `PATH` allows running commands from that directory directly."
  - Command
  - term: alias
    definition: A custom shortcut for a command or sequence of commands.
  - term: script
    definition: A file containing a series of commands that the shell can execute sequentially. Typically used to automate repetitive tasks.
  - term: shebang 
    definition: A special line at the start of a script file specifying which code interpreter should execute the script.
  - term: "redirection (`>`, `<`)"
    definition: "Redirects the input or output of a command to/from a file or another command. Example: `ls > files.txt` writes the output of `ls` to `files.txt`."
  - term: "pipeline (`|`)"
    definition: A mechanism to pass the output of one command as input to another, enabling complex workflows by chaining commands together.
---

Bash is a widely used shell in high-performance computing (HPC) environments because most HPC systems are Linux-based. Learning Bash equips you with cross-platform skills that are essential for tasks ranging from everyday system management to advanced computational workflows in HPC environments, including SCINet clusters. Knowing Bash allows you to interact effectively with these systems, automate tasks, and leverage powerful text-processing tools like `grep`, `awk` and `sed`. 

{% include overviews %}


## What is the shell?

A shell is a command interpreter that processes user commands entered into the CLI and returns the output. 
It serves as a bridge between the user and the operating system, converting human-readable commands into a form the computer can understand and execute. 
Different operating systems use different shells or command interpreters; for example, Windows features PowerShell, while Unix-like systems use the Unix shell. 
Among these, Bash shell is the most commonly used, especially in high-performance computing (HPC) systems.
    
    
When you open a terminal window, you'll see a blinking cursor waiting for you to type commands. The shell will try to interpret anything you enter there. 
1. You type a command (e.g., `ls`).
2. The shell interprets the text-based command and communicates with the operating system.
3. The operating system executes the corresponding processes and sends the result back to the shell.
4. The shell displays the text-based result in the terminal window.
    
    
    
<div class="usa-accordion">
    
{% include accordion title="For Windows users: PowerShell vs Bash" class="note " controls="terminal-win-1" icon=true %} 
<div id="terminal-win-1" class="accordion_content" markdown="1"> 
   
PowerShell is the default shell on Windows systems, offering robust tools for managing Windows environments. 
However, Bash is the default on most Linux systems, making it essential for interacting with Unix-like operating systems and HPC environments, including SCINet clusters.  
    
    
{% include table caption="Key differences between PowerShell and Bash environments." content="| feature | PowerShell | Bash |
|----------------------|------------|------|
| platform             | Windows *(but cross-platform supported)* | Unix-like systems (Linux, macOS, also WSL on Windows) |
| command style        | object-oriented (returns objects) | text-based (returns plain text) |
| examples of commands | `Get-ChildItem` (list files) | `ls` (list files) |
|                      | `Set-Location` (change directory) | `cd` (change directory) |
| scripting            | scripts use `.ps1` extension and object manipulation | Scripts use `.sh` extension and text processing tools |
| syntax               | verb-noun structure (e.g., `Get-Process`) | short, compact commands (e.g., `ps`) |
| integration          | tight integration with Windows systems | seamless with Linux and HPC tools |
| use in HPC           | rarely used | commonly used due to prevalence of Linux-based systems, including SCINet HPC |" %}
    
    
</div>
</div>