<div class="home-block">
    {% assign gloss = site.data.glossary['glossary'] %}
    {% assign inner = site.documents | where: 'variety', 'workbook' %}
    {% assign stags = inner | map: 'tags' | uniq | compact %}
    {% include contribute/filter title="Filter Terms" label="Filter Terms" sorting="term" %}
    {% assign glosstags = gloss | map: 'terms' | uniq %}

    {% assign glosscompile = gloss | map: 'compile' | uniq %}
    

    {% assign gloss_letters = gloss | sort: 'term' 
    | group_by_exp: "item", "item.term | slice: 0, 1" %}
    
    {% for letter in gloss_letters %}
    {% assign termlist = "" %}
    {% capture termcards %}
    {%- for _mterm in letter.items %}{% unless glosscompile contains _mterm.term %}{%- capture filtertermlist %}{{ _mterm.term }} {% if _mterm.alt %}{{ _mterm.alt | join: " " }}{% endif %}{% if _mterm.compile %} {{ _mterm.compile | join: " " }}{% endif %}{%- endcapture %}
    {%- assign termlist = termlist | append: filtertermlist | append: " - " %}
    {% include components/component/term-card.html option=_mterm gloss=gloss sitetags=stags filtertermlist=filtertermlist %}{% endunless %}
    {%- endfor %}
    {% endcapture %}
    <div class="padding-bottom-2 width-full fccat" datameta="{{  termlist  }}">
    <h2>
        {{ letter.name }}
    </h2>
    <ul class="usa-collection collection">
            {{ termcards }}
    </ul>
    </div>
    {% endfor %}
</div>