{%- if include.data %}{% assign summary = include.data %}
{%- else %}{% assign summary = include %}
{%- endif %}
{% capture idstring %}summary-box-{% include layout/components/random %}{% endcapture %}
<div class="usa-summary-box" role="region" aria-labelledby="{{ idstring }}">
  <div class="usa-summary-box__body">
    <h3 class="usa-summary-box__heading" id="{{ idstring }}">
      {{ summary.title | default: "Learning Objectives" }}
    </h3>
    <div class="usa-summary-box__text">
      {{ summary.content | markdownify }}
    </div>
  </div>
</div>