{% if include.outer %}{% assign outer = include.outer %}
{% else %}
  {% capture inclevel %}{% if include.lvl %}{{ include.lvl }}{% else %}1{% endif %}{% endcapture %}
  {% if include.workbooks %}
    {% assign outer = site['{{ include.workbooks }}'] | where: 'org', inclevel | sort: "ordered" %}
    {% assign inner = site['{{ include.workbooks }}'] %}
  {% else %}
    {% assign inners = site.documents %}
    {% assign outer = inners | where: 'org', inclevel | sort: "title" %}
  {% endif %}
{% endif %}

{% assign inner = include.inner | default: inners %}

{% assign wbs = inner | map: 'wbs' | uniq %}
{% assign tags = inner | map: 'tags' | uniq %}
{% assign types = inner | map: 'type' | uniq %}
{% assign difficulties = inner | map: 'level' | uniq %}
{% assign pagetitle = page.slug %}
{% assign cal_id = pagetitle | prepend: "cal-" %}
{% assign sort_list = true %}

<div class="grid-row grid-gap display-flex flex-column flex-align-center margin-y-3">
  {% if include.heading %}<h1 id="{{include.heading | slugify }}">{{ include.heading }}</h1>{% endif %}
  <div class="padding-bottom-2 bg-base-lighter tablet-lg:width-tablet">
      
      {% include collect/collect-filter.html %}
    <ul class="usa-collection border-x border-bottom padding-bottom-2 bg-white">
      {% for _page in outer %}
        {% include collect/info-card.html option=_page subset=inner %}
      {% endfor %}
    </ul>
  </div>
</div>