{% if include.outer %}{% assign outer = include.outer %}
{% else %}
  {% capture inclevel %}{% if include.lvl %}{{ include.lvl }}{% else %}1{% endif %}{% endcapture %}
  {% if include.workbooks %}
    {% assign outer = site['{{ include.workbooks }}'] | where: 'index', inclevel | sort: "order" %}
    {% assign inner = site['{{ include.workbooks }}'] | where_exp: "item", "item.ext != '.ipynb'"%}
  {% else %}
    {% assign inners = site.documents %}
    {% assign outer = inners | where: 'index', inclevel | sort: "title" %}
  {% endif %}
{% endif %}

{% assign inner = include.inner | default: inners %}


{% assign tags = inner | map: 'tags' | uniq %}
{% assign types = inner | map: 'type' | uniq %}
{% assign difficulties = inner | map: 'level' | uniq %}
{% assign pagetitle = page.slug %}
{% assign cal_id = pagetitle | prepend: "cal-" %}
{% assign sort_list = true %}
{% assign tags = tags | sort_natural %}

{% assign outer = outer | sort: "order" %}

<div class="grid-row grid-gap align-c margin-y-3">
  {% if include.heading %}<h1 id="{{include.heading | slugify }}">{{ include.heading }}</h1>{% endif %}
  <div class="padding-bottom-2 bg-base-lighter width-full">
      
      {% comment %}{% include collect/collect-filter.html %}{% endcomment %}
    <ul class="usa-collection collection bg-white usa-list">
      {% for _page in outer %}
        {% include collect/info-card.html option=_page subset=inner %}
      {% endfor %}
    </ul>
  </div>
</div>