{% assign post = include.option %}
{% assign subset = include.subset %}

{% if include.alt-intro and post.type == 'introduction' and post.ext == '.md' %}
{% assign iflag = false %}
{% else %}
{% assign iflag = true %}
{% endif %}

{% assign pposttags = post.tags %}
{% if post.index and iflag %}
    {% include collect/pagesubset subset=subset post=post %}
{% else %}
    {% assign pwb = post.subject %}
    {% assign ptags = pposttags %}
    {% assign ptypes = post.type %}
    {% assign pdifficulties = post.level  %}       
{% endif %}

{%- capture override-display %}{%- if page.index == 0 %}
{%- if pwb contains page.subject %}show{%- else %}remove{%- endif %}{%- else %}show{%- endif %}
{%- endcapture %}

{%- capture datameta %}
{%- if page.filter-names %}datameta="{{ post.title }}, {%- assign titles = pagesubset | map: 'title' | uniq %}{{ titles | array_to_sentence_string: "" }}"{%- endif %}
{%- endcapture %}

{% assign wbtags = post.subject %}

{% unless page.index == 0 and override-display == "remove" %}
<li class="{% if cal_id %}{{ cal_id }}{% endif %} usa-collection__item fullwidth-i{%- if page.filter-names %} fc{% endif %}" {{ datameta }}
    {%- if fetchjs %}id="{{ post.id }}"{%- endif %}>

    {% if post_type == 'media' %}
    <img class="usa-collection__img" src="{{ post.mediasrc | relative_url }}" alt="{{ post.mediaalt }}" />
    {% endif %}
    <div class="padding-x-2 usa-collection__body">
        <h3 class="usa-collection__heading rm-a no_toc">
            <a class="usa-link" href="{% include url.html link=post %}">
                {%- if page.filter-names or page.index %}
                {% assign types = post.type | default: 'index' %}
                {% assign decortype = site.data.filter['icons'] | where: "type", types %}
                {% assign decor = decortype[0].icon %}
                <img class="usa-icon margin-right-05" src="{{ decor }}" alt="{{ types }}"> {%- endif %}{{ post.title }}
                <!-- {%- if page.filter-names %}
                <svg class="usa-icon filtered" alt="selected" role="img">
                    <use xlink:href="/assets/uswds/img/sprite.svg#check_circle"></use>
                  </svg>{%- endif %} -->
            </a>
        </h3>
        {% if page.filter-names or page.index %}<div class="mobile-lg:margin-left-3">{% endif %}
        {% unless no_summary %}
        {% if post.description %}
        <p class="usa-collection__description">
            {{ post.description }}
        </p>
        {% endif %}
        {% endunless %}
        {% if post.index and iflag %}
        {% unless pssize == 0 %}
        <ul class="usa-collection__meta">
            <li class="usa-collection__meta-item">
                <b>Content:</b>
                <ul class="unstyled-list usa-list">
                    {% assign psubset=pagesubset | sort: "order" %}
                    {% assign largersubset=mypagesubset %}
                    {% for sets in psubset %}
                        {% include collect/list.html set=sets mysubset=largersubset class="usa-collection__meta-item" aclass="text-bold text-underline" parenttags=pposttags %}
                    {% endfor %}
                </ul>
            </li>

        </ul>
        {% endunless %}
        {% endif %}

        {% unless page.no-tags %}
        {% if post.tags or post.type or post.language %}
        <ul class="usa-collection__meta padding-top-1" aria-label="Tags">
            {% if post.subject and wbtags != "" %}
            {% for wbtag in wbtags %}
            <a class="gloss_wb" href="{{ base_url }}/{{ wbtag }}/" ><li class="usa-collection__meta-item usa-tag listed">{{ wbtag | replace: "-", " " }}</li></a>
            {% endfor %}
            {% endif %}
            {% if post.language %}<li class="usa-collection__meta-item usa-tag">{{ post.language }}</li>{% endif %}
            {% if post.tags %}
            {% for tag in post.tags %}
            <li class="usa-collection__meta-item usa-tag">{{ tag | replace: "-", " " }}</li>
            {% endfor %}
            {% endif %}
        </ul>
        {% endif %}
        {% endunless %}
        {% if page.filter-names %}</div>{% endif %}
    </div>

</li>
{% endunless %}