{%- assign fsets = include.ttsets %}{% capture liclass %} fc{% endcapture %}
<li class="{{ include.class }} line-height-sans-4{% if cal_id %} {{ cal_id }}{% endif %}{{ liclass }}"
    {%- if fetchjs %}id="{{ fsets.id }}"{%- endif %} datameta="{{ subdatameta | default: fsets.title }}"
>
    <a class="listed {{ include.aclass }}" href="{% include url.html link=fsets %}">{%- unless sort_list %}
        {% unless page.filter-names %}<svg class="usa-icon filtered" alt="selected" role="img">
            <use xlink:href="/assets/uswds/img/sprite.svg#check_circle"></use>
          </svg>{% endunless %}{%- endunless %}<img class="usa-icon margin-right-05" src="{{ include.decor }}" alt="{{ fsets.type | default: 'index' }}"> {{ fsets.title }}</a>