{% assign tsets = include.set %}
{% assign aclass = include.aclass %}
{% assign emptytags = "" | split: "" %}
{% assign parenttags = include.parenttags | default: emptytags %}

{% assign posttags = tsets.tags %}
{% assign posttags = parenttags | concat: posttags | uniq %}

{% if tsets.org %}
    {% include collect/pagesubset subset=include.mysubset post=tsets %}
    {% assign ptags = parenttags | concat: ptags | uniq %}
{% else %}
    {% assign pwb = tsets.wbs %}
    {% assign ptags = posttags %}
    {% assign ptypes = tsets.type %}
    {% assign pdifficulties = tsets.level %}   
{% endif %}

{%- assign decor = "" %}
{% unless sort_list %}
{% assign types = tsets.type | default: 'index' %}
{% assign decortype = site.data.filter['icons'] | where: "type", types %}
{% assign decor = decortype[0].icon %}
{% endunless %}

{% include collect/li.html ttsets=tsets class=include.class aclass=include.aclass decor=decor %}
{% if tsets.org %}
    {% unless pssize == 0 %}
<ul class="{%- unless sort_list %}icon-ul{%- endunless %}">
    {% assign _usubset = pagesubset | sort: "ordered" %}
    {% unless include.loop=="looped" %}{% assign smallersubset=mypagesubset %}{% endunless %}
    {% for _set in _usubset %}
        {% include collect/list.html set=_set mysubset=smallersubset class="" loop="looped" parenttags=posttags %}
    {% endfor %}
</ul>
{% endunless %}
{% endif %}
</li>