{% assign tsets = include.set %}
{% assign aclass = include.aclass %}

{% if tsets.index %}
    {% include collect/pagesubset subset=include.mysubset post=tsets %}
{% endif %}

{%- assign decor = "" %}

{% include layout/components/decor p=tsets %}

{%- capture override-display %}{%- if page.index == 0 %}
{%- if pwb contains page.subject %}show{%- else %}remove{%- endif %}{%- else %}show{%- endif %}
{%- endcapture %}

{% unless page.index == 0 and override-display == "remove" %}
{% include collect/li.html ttsets=tsets class=include.class aclass=include.aclass decor=decor %}
{% if tsets.index %}
    {% unless pssize == 0 %}
<ul class="icon-ul usa-list">
    {% assign _usubset = pagesubset | sort: "order" %}
    {% unless include.loop=="looped" %}{% assign smallersubset=mypagesubset %}{% endunless %}
    {% for _set in _usubset %}
        {% include collect/list.html set=_set mysubset=smallersubset class="" loop="looped" %}
    {% endfor %}
</ul>
{% endunless %}
{% endif %}
</li>
{% endunless %}