{% assign subtags = "" | split: "" %}
{% assign parenttags = prevTOC.last.tags %}
{% assign pagetags = page.tags %}
{% for _arraycheck in parenttags %}
    {% assign subtags = subtags | push: _arraycheck %}
{% endfor %}
{% for _arraycheck in pagetags %}
    {% assign subtags = subtags | push: _arraycheck %}
{% endfor %}

{% assign subtags = subtags | uniq | compact | join: "," %}
{% if subtags != empty or page.wgs or page.reccs %}
<div class="grid-row bg-base-lighter" >
    <div class="grid-container margin-y-2 width-full">
    
    <h2>Related Reading</h2>
    <ul class="usa-list">
        {% unless subtags == empty %}
      <li class="">
        {% include layout/filter-related.html search=subtags attribute='tags' text='Find similar workbooks' %}
      </li>
      {% endunless %}
      {% if page.language %}
      <li class="">
        {% include layout/filter-related.html search=page.language attribute='language' btext='Other ' atext=' workbooks' %}
      </li>
      {% endif %}
      {% if page.wgs %}
      {%- assign wg-full = site.data.workinggroups['wgs'] | where: "shorthand", page.wgs %}
      {%- assign wgname = wg-full[0].title | prepend: 'Other workbooks developed by the ' %}
      <li>
        {% include layout/filter-related.html search=page.wgs attribute='wgs' text=wgname %}
      </li>
      {% endif %}
      {% if page.reccs %}
      <li class="">
        You may also be interested in:
        <ul class=".usa-list">
            {% for _rec in page.reccs %}
                {% assign recpost = site[page.collection]  | where:"url", _rec  | first %}
                <li><a href="{{ _rec.url | relative_url }}">{{ recpost.title }}</a></li>
            {% endfor %}
        </ul>
      </li>
      {% endif %}
      {% if page.external-reccs %}
      <li class="">
        <a href="/about/disclaimer#external">External resources</a> you may find helpful:
        <ul class=".usa-list">
            {% for _rec in page.external-reccs %}
                <li><a href="{{ _rec.url }}">{{ _rec.title }}</a></li>
            {% endfor %}
        </ul>
      </li>
      {% endif %}
      </ul>
    </div>
</div>
{% endif %}