<aside class="rtt-next">
  <ul class="usa-sidenav">
    {%- assign siblingarray = include.siblingarray %}
    
    {%- assign prevpage == nil %}
    {%- assign nextpage == nil %}
    {%- if page.collection %}
    {%- unless prevTOClength == 0 or page.index==0 %}
    {% comment %}{% include layout/components/next-prev related=pageparent relation=pageparent.type %}{% endcomment %}
    {%- if siblingarray.size > 1 %} 
    {% for _siblings in siblingarray %}
      {% if _siblings.id == page.id %}
        {%- if forloop.first %}
        {% include layout/components/next-prev related=pageparent relation=pageparent.type %}
        {% else %}
            {% assign previndex = forloop.index | minus: 2 %}
            {% assign prevpage = siblingarray[previndex] %}
        {% endif %}
        {%- unless forloop.last %}
            {% assign nextindex = forloop.index %}
            {% assign nextpage = siblingarray[nextindex] %}
        {%- endunless %}

      {% endif %}
    {% endfor %}
    {% else %}
    {% include layout/components/next-prev related=pageparent relation=pageparent.type %}
    {% endif %}

    {% if page.index %}
    {%- for _next in sortposts limit: 1 %}
    {% include layout/components/next-prev related=_next relation="Next" icon="navigate_next" class="usa-current" %}
    {% endfor %}
    {% include layout/components/next-prev related=nextpage relation="Next" section=true icon="navigate_far_next" %}
    {% include layout/components/next-prev related=prevpage relation="Previous" section=true icon="navigate_far_before" %}
    {% else %}
    {% include layout/components/next-prev related=nextpage relation="Next" icon="navigate_next" class="usa-current" %}
    {% include layout/components/next-prev related=prevpage relation="Previous" icon="navigate_before" %}
    {% endif %}
    
    {%- endunless %}
    {%- endif %}

    <li class="usa-sidenav__item">
      <a href="#"><span class="render-sm">Return to </span>Top <svg class="usa-icon margin-bottom-neg-05" aria-hidden="true" focusable="false" role="img">
        <use href="/assets/uswds/img/sprite.svg#arrow_upward"></use>
      </svg></a>
    </li>
  </ul>
</aside>