---

title: Introduction to Command Line Interface (CLI)
description: "An interface for interacting with a computer by typing text commands instead of using a graphical interface (GUI)."
index: 2
order: 1
tags: [command line interface]
packages: 
level: 2
author: Aleksandra Badaczewska
type: introduction


terminal-terms: [Terminal, Welcome Message, Prompt, Command Line]
shell-terms: [Shell, Bash, Command, Standard Out, Standard Error, Built-in commands, Aliases, Shell function, Startup script, Environment Variable, Syntax]
cl-terms: [Input Area, Cursor, Argument, Flag or Option, Pipes, Background Process, Foreground Process, Exit Code]


---



## Overview

The [Command Line Interface](/glossary/#command-line-interface) (**CLI**) is a text-based way to interact with your computer, offering a more powerful 
and flexible alternative to using a graphical user interface (**GUI**), which relies on mouse-driven point-and-click navigation. To access the CLI, 
you use a **[terminal](/glossary/#terminal)**, which is the interface tool that provides a space for typing and viewing commands. 
By typing commands, you can perform tasks like managing files, running programs or configuring the system. Behind the scenes, 
a **[shell](/glossary/#unix-shell)** interprets these commands and communicates with the [operating system](/glossary/#operating-system) to execute them. 
Together, the CLI, terminal and shell form a powerful ecosystem for controlling your computer efficiently 
and performing your computational tasks with precision, speed, automation and a level of flexibility that is often unmatched by graphical user interfaces.

![GUI vs CLI](./assets/img/cli_vs_gui.png)

{:.emph--info}
**In this submodule**  
Discover the fundamentals of the [Command Line Interface (CLI)](/computing-skills/command-line/cli-interface/concepts/), including its key components: 
the [Terminal](/computing-skills/command-line/cli-interface/terminal/) *(interface tool)* and the [Unix Shell](/computing-skills/command-line/cli-interface/shell/), which interprets 
your text instructions *(i.e. commands)* entered in the [command line](/computing-skills/command-line/cli-interface/shell/commands/) input area.    


## Terminology

<ul class="usa-collection collection">
    {% include term term="Command Line Interface" link="/computing-skills/command-line/cli-interface/concepts/" Key-difference="It's a concept, not a specific software. CLI describes the environment in which commands are entered and executed." %}
    {% include term term="Terminal" link="/computing-skills/command-line/cli-interface/terminal/" Key-difference="A terminal is just the container or access point for the CLI, but it doesn't process the commands itself." Examples="GNOME Terminal, Windows Terminal, iTerm2" %}
    {% include term term="Shell" link="/computing-skills/command-line/cli-interface/shell/" Key-difference="The shell is a program running within the terminal to interpret and execute commands. Different shells have unique features and syntax." Examples="Unix shell: Bash, Zsh, ksh, tcsh" %}
    {% include term term="Command Line" link="/computing-skills/command-line/cli-interface/shell/commands/" Key-difference="The command line is a specific part of the CLI environment." Examples="Usually preceded by a prompt, e.g., <code>user@host:~$</code> in Unix/Linux or <code>C:\></code> in Windows." %}
</ul>

<div class="usa-accordion">

{% include accordion title="Terminal interface element definitions" controls="terminal-terms-test" %} 
<div id="terminal-terms-test" class="accordion_content" markdown="1">
  
{% include terms terms=page.terminal-terms taglinks="true" %}
  
</div>

{% include accordion title="Shell (command interpreter) definitions" controls="shell-terms-test" %} 
<div id="shell-terms-test" class="accordion_content" markdown="1">
   
{% include terms terms=page.shell-terms taglinks="true" %}
    
</div>

{% include accordion title="Command line (input area) definitions" controls="cl-terms-test" %} 
<div id="cl-terms-test" class="accordion_content" markdown="1">

{% include terms terms=page.cl-terms taglinks="true" %}
   
</div>

</div>

