---
layout: default
main:
  class: usa-layout-docs usa-layout-docs__main usa-prose

scripts: ['/assets/js/lib/jquery-3.4.1.min.js', '/assets/js/filter/filters.js']

alert: 
  type: error
  title: No Workbooks found
  text: "No workbooks were found with your current filter parameters. <br>See all workbooks below, or try altering your selection"
---

{% if page.filter=='pathways' %}
    {% assign outer = site['pathways'] | where: 'org', 1 | sort: "ordered" %}
    {% assign inner = site['pathways'] %}
{% else %}
    {% assign inner = site.documents | where: 'variety', 'workbook' %}
    {% assign outer = inner | where: 'org', 1 | sort: "title" %}
{% endif %}

{% assign nestingtags = "" | split: "" %}
{% assign nestingvals = "" | split: "" %}

<div class="grid-container main-side">
    <div class="grid-row flex-align-start">

      <div class="desktop:grid-col-4 bg-primary-lighter padding-2">
        <div class=" bg-white border">
          <div aria-label="filters-container" id="filters-container" class="filters-container usa-card">
            <form id="workbook-array" onsubmit="return submitFilters(this);">
            <div class="usa-card__header">
            <h2 class="text-center text-2xl align-middle">
                <svg class="usa-icon" role="img" aria-label="filter list"><use xlink:href="/assets/uswds/img/sprite.svg#filter_list"></use></svg>
                <span>Filters</span>
            </h2>
            </div>
            <div class="usa-card__body">
              
            <div class="usa-accordion usa-accordion--bordered usa-accordion--multiselectable" data-allow-multiple>

{%- for _section in site.data.filter['filters'] %}
    {% assign sectionslug = _section.section | slugify | prepend: "section-" %}
    <!--make accordion-->
    <h4 class="usa-accordion__heading">
                <button
                    type="button"
                    class="usa-accordion__button"
                    aria-expanded="false" 
                    aria-controls="{{ sectionslug }}"
                >
                {{ _section.section }}
                </button>
                </h4>
                <div id="{{ sectionslug }}" class="usa-accordion__content usa-prose allow-overflow">

            
                    <div class="usa-card">
                      {%- if _section.type == 'checkbox' or _section.select-all %}
                      <button controls="{{ sectionslug }}-filters" class="usa-button usa-button--unstyled filter-toggle" type="button" toggles='{{ sectionslug }}-filters'>
                        Select All
                      </button>
                      {%- endif %}
                      {%- if _section.inclusive-toggle %}
                      <div class="usa-checkbox">
                        <input
                          class="usa-checkbox__input usa-checkbox__input--tile"
                          id="inclusive-{{ _section.val }}"
                          type="checkbox"
                          name="inclusive-{{ _section.val }}"
                          value="{{ _section.val }}"
                        />
                        <label class="usa-checkbox__label" for="inclusive-{{ _section.val }}"
                          >Inclusive Search
                          <span class="usa-checkbox__label-description"
                            >When checked, search results will include workbooks if they have any one of the selected {{ _section.section | downcase }}.</span
                          ></label
                        >
                      </div>
                      {%- endif %}
                        {%- if _section.subsection %}
                            {%- for _sub in _section.subsection %}

                                {% assign tname = _sub.title | slugify %}
                                {% if _sub.values %}
                                    {% if _sub.values == 'collect' %}
                                        {% assign valued = site[_sub.collect] | map: _sub.val | uniq | compact %}
                                        {% assign nestingvals = nestingvals | push: _sub.val %}
                                    {% else %}
                                        {% assign valued = _sub.values | sort %} 
                                    {% endif %}
                                {% else %}
                                    {% assign valued = inner | map: _sub.val | uniq | compact %}
                                    {% assign nestingvals = nestingvals | push: _sub.val %}
                                {% endif %}
                                
                                {% assign valued = valued | sort %}
                                
                                {% assign checked = _sub.checked %}

                                {% include form/{{ _sub.type }}.html title=_sub.title options=valued tname=_sub.val checked=checked %}

                            {%- endfor %}
                
                        {%- else %}
                            {% assign tname = _section.section | slugify %}
                            {% assign valued = inner | map: _section.val | uniq | compact %}
                            {% assign valued = valued | sort %}

                            {% assign nestingvals = nestingvals | push: _section.val %}
                            {% assign checked = _section.checked %}

                            {% include form/{{ _section.type }}.html title=_section.title options=valued tname=_section.val checked=checked %}

                        {%- endif %}
        
                    </div>

            
                </div>
            

{%- endfor %}

</div>

</div>
<div class="usa-card__footer">
    <button type="submit" class="usa-button" id="filters-button">Apply Filters</button>
    <!-- <div id="current-filters" class="current-filters grid-col margin-x-2 text-right"></div> -->
</div>
</form>

{% assign pagetitle = page.slug %}
{% assign cal_id = "wb" %}
{% assign fetchjs = true %}    

        </div>

      </div>

<!--       <div>
        <label class="usa-label" for="sort_attribute">Sort by:</label>
        <select name="sort_attribute" id="sort_attribute" class="usa-select">
          <option value="title">Title</option>
          <option value="level">Difficulty</option>
          <option value="wbs">Workbook</option>
        </select>
        </div> -->

      </div>

      <div class="usa-layout-docs__main desktop:grid-col-8">
        <div class="{{ layout.main.class }}" aria-label="{{ page.title }}" id="page-contents">

            
            <div class="grid-row grid-gap display-flex flex-column flex-align-center ">

                <h1>Workbooks</h1>

              {% if page.heading %}<h1 id="{{ page.heading | slugify }}">{{ page.heading }}</h1>{% endif %}
              <div id="nowbs" class="tablet-lg:margin-x-3 no-display">
                {% assign alertdata = layout.alert %}
                {% include components/alert.html data=alertdata %}
              </div>

              <div class="padding-bottom-2 bg-primary-lighter tablet-lg:width-tablet margin-2">
                  
                  
                <ul class="usa-collection border-x border-bottom padding-bottom-2 bg-white">
                  {% for _page in outer %}
                    {% include collect/info-card.html option=_page subset=inner %}
                  {% endfor %}
                </ul>
              </div>
            </div>

          <br>
        </div>
      </div>
    </div>
  </div>