---
layout: default
main:
  class: usa-layout-docs usa-layout-docs__main usa-prose

wbComp:
  url: /workbooks
  title: All Workbooks
---

{% if page.ext == '.ipynb' %}
{{ content }}
{% else %}
{% assign blankarray = "" | split: "" %}
{% assign hero = page.header %}

{% if page.sidenav  == false or page.layout == 'page' %}
{% include layout/hero.html %}
  <main class="{{ layout.main.class }}" aria-label="{{ page.title }}" id="page-contents">
    {% if page.class %}<div class="{{ page.class }}">{% endif %}
      {%- if page.subtitle -%}
        <h1 class="top-header">{{ page.subtitle }}</h1>
      {%- endif -%}
      {{ content }}
    {% if page.class %}</div>{% endif %}
    <br>
  </main>

{% else %}

  {% assign headertitle = false %}
  {% include TOC-sort %}
  {% assign prevTOClength = prevTOC | size %}
  {% assign previousTOC = pTOC | default: blankarray %}
  {% unless prevTOClength == 0 or page.index==0 or page.style=='single' %}
    {% assign previousTOC =  previousTOC | push: pageparent %}
  {% endunless %}
  {% assign nextTOC = afterTOC | default: blankarray %}
  {% assign sidenav =  previousTOC | push: page %}
  {% assign sidenav = sidenav | concat: nextTOC %}
  {% assign bchome = layout.wbComp %}


  {% capture sidenavigation %}
    {% include layout/sidenav.html sidenav=sidenav %}
  {% endcapture %}

  {%- if page.collection %}
    {% if page.index == 0 %}
      {% assign herotitle = page.title %}
    {% else %}
      {%- assign pageparentindex = page.parent | default: 0 %}
      {% capture herotitle %}{{ prevTOC[pageparentindex].title }}{% endcapture %}
      {% assign headertitle = page.title %}
    {% endif %}
  {% include layout/hero.html title=herotitle %}
  {%- else %}
  {% include layout/hero.html %}
  {%- endif %}
  <div id="page-contents">
  <div class="grid-container main-side usa-prose">
    <div class="grid-row grid-gap flex-align-stretch">

    <!-- desktop breakpoint side navigation. --> 
   <div class="usa-layout-docs__sidenav sidenav_desktop">
    {{ sidenavigation }}
    <div class="wb-in-page-nav-container">
    <aside
    class="wb-in-page-nav"
    data-title-text="On this page"
    data-title-heading-level="h4"
    data-scroll-offset="0"
    data-root-margin="0px 0px 0px 0px"
    data-threshold="1"
    data-heading-elements="h2"
  ></aside>
  {% if page.index and page.index != 0 %}
  <nav class="margin-top-1" aria-label="Workbook Index">
    <ul class="usa-sidenav">
    <li class=" usa-sidenav__item "><a href="#workbook-index">Workbook Index</a></li>
    </ul>
  </nav>
  {% endif %}
  </div>
    </div>

      <div class="usa-layout-docs__main desktop:grid-col-fill">
          {% include layout/breadcrumb.html %}
          <main class="{{ layout.main.class }} margin-bottom-2" id="main-content">
            {% if headertitle or page.subtitle %}
            <h1 class="top-header" >{{ headertitle | default: page.subtitle }}</h1>
            {%- endif -%}
            <div class="{{ layout.main.class }}" id="wb-content">
            {{ content }}
            </div>
            <br>
            {%- if page.index %}
              {% include collect/collections.html outer=sortposts inner=subsetposts heading="Workbook Index" %}
            {%- endif %}
          </main>

      </div>
     <!-- mobile breakpoint sidenav -->
     <div class="usa-layout-docs__sidenav sidenav_mobile">
     {{ sidenavigation }}
     </div>

     <div class="desktop-lg:grid-col-auto">
      <div class="flexnav">
      {% assign siblingposts = siblingposts %}
      {% include collect/wb-nav.html siblingarray=siblingposts %}
      </div>
     </div>
    </div>
    {% if page.collection %}
    {% if page.type and page.ext == '.md' %}
    {% include collect/related-reading.html %}
    {% endif %}
  </div>

{% if site.survey and page.survey %}
  {% include layout/survey %}
{% endif %}



{% comment %{% include authors.html %}{% endcomment %}
{% endif %}
</div>
{% endif %}
{% endif %}