---
layout: default
main:
  class: usa-layout-docs usa-layout-docs__main usa-prose

wbComp:
  url: /workbooks
  title: All Workbooks
---
{% if page.ext == '.ipynb' %}
{{ content }}
{% else %}
{% assign blankarray = "" | split: "" %}
{% assign hero = page.header %}

{% if page.sidenav  == false or page.layout == 'page' %}
{% include layout/hero.html %}
  <main class="{{ layout.main.class }}" aria-label="{{ page.title }}" id="page-contents">
    {% if page.class %}<div class="{{ page.class }}">{% endif %}
      {%- if page.subtitle -%}
        <h1 class="top-header">{{ page.subtitle }}</h1>
      {%- endif -%}
      {{ content }}
    {% if page.class %}</div>{% endif %}
    <br>
  </main>

{% else %}
  {% assign headertitle = false %}
  {% include TOC-sort %}
  {% assign prevTOClength = prevTOC | size %}
  {% assign previousTOC = pTOC | default: blankarray %}
  {% assign nextTOC = afterTOC | default: blankarray %}
  {% assign sidenav =  previousTOC | push: page %}
  {% assign sidenav = sidenav | concat: nextTOC %}
  {% assign bchome = layout.wbComp %}

  {% capture mycontent %}
    {{ content }}
    {%- if page.index %}
      <br>
      {% include collect/collections.html outer=sortposts inner=subsetposts heading="Workbook Index" %}

    {%- endif %}
  {% endcapture %}

  {% capture sidenavigation %}
  <nav aria-label="Secondary navigation">
    {% include layout/sidenav.html html=mycontent class="usa-sidenav" h_max=3 anchor_class="usa-sidenav__item" submenu_class="usa-sidenav__sublist" sidenav=sidenav %}
  </nav>
  {% endcapture %}

  {%- if page.collection %}
    {% if page.index == 0 %}
      {% assign herotitle = page.title %}
    {% else %}
      {%- assign pageparent = page.parent | default: 0 %}
      {% capture herotitle %}{{ prevTOC[pageparent].title }}{% endcapture %}
      {% assign headertitle = page.title %}
    {% endif %}
  {% include layout/hero.html title=herotitle %}
  {%- else %}
  {% include layout/hero.html %}
  {%- endif %}
  <div id="page-contents">
  <div class="grid-container main-side">
    <div class="grid-row grid-gap flex-align-start">

    <!-- desktop breakpoint side navigation. --> 
   <div class="usa-layout-docs__sidenav display-none desktop:display-block desktop:grid-col-3 desktop:padding-y-10">
    {{ sidenavigation }}
    </div>

      <div class="usa-layout-docs__main desktop:grid-col-9">
          {% include layout/breadcrumb.html %}
          <main class="{{ layout.main.class }} margin-bottom-2" id="main-content">
            {% if headertitle or page.subtitle %}
            <h1 class="top-header" >{{ headertitle | default: page.subtitle }}</h1>
            {%- endif -%}
            {{ mycontent }}
          </main>
      </div>
     <!-- mobile breakpoint sidenav -->
     <div class="usa-layout-docs__sidenav desktop:display-none width-full  margin-bottom-2">
     {{ sidenavigation }}
     </div>
    </div>
  </div>

{% if page.collection %}
{% unless prevTOClength == 0 or page.index==0 %}
  {% include collect/wb-nav.html %}
{% endunless %}

{% unless page.index %}
{% include collect/related-reading.html %}
{% endunless %}

{% include authors.html %}
{% endif %}
</div>
{% endif %}
{% endif %}